# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/
next-env.d.ts

# production
dist/

# env files (NEVER commit real secrets)
.env
.env*.local
.env.production

# directus local runtime data
directus/uploads/*
!directus/uploads/.gitkeep

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# misc
*.tsbuildinfo
coverage/
